<html>
    <head></head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <style>
            .overall {border:solid 1px lightgray; padding:15px; width:300px; margin-top:80px; margin-left:50%; transform:translateX(-50%);}
            .original, .resized {text-align:center; border:solid 1px lightgray; padding:15px; margin:10px; width:250px;} 
            .previews, .resizePreset {display:flex;}
            .previewFrame, .resizedPreviewFrame {border:solid 1px black; width:250px; height:250px; display:flex; justify-content:center; align-items:center; }
            .previewFrame img, .resizedPreviewFrame img {margin-left:auto; margin-right:auto; max-width:250px; max-height:250px; }
            .file{margin-left:10px;}
            .fileInfo, .resizedfileInfo {padding:5%; border:solid 1px lightgray; width:225px; display:none;}
            .resizedPreviewFrame {border:solid 1px orangered;}
            .widthheight, .nameType {display:flex; margin-bottom:15px; justify-content:space-around;}
            .widthheight input {width:60px; text-align:center;}
            .nameType input {width:180px; text-align:center;}
            .resize button {width:80px; height:30px; margin-top:10px; border-radius:9; background:azure;}
            .resize, .clearFile {border:solid 1px lightgray; padding:15px; margin:10px; width:200px; height:180px;} 
            .resized, .clearFile {display:none;}
            .clearFile button {height:50px; margin-top:15px;}
        </style>
        
        <section class="overall">
            <section class="imageResizer">
                <input type="file" onchange="previewFile()" class="file" name="file"/>
            </section>

            <section class="previews">
                <section class="original">
                    <div class="previewFrame">
                        <a href="#" onClick="displayImg(this)">
                            <img src="//localhost:3000/uploads/default/pic_placeholder.png" class="preview" alt="upload an image" >
                        </a>
                    </div>
                    <div class="fileInfo">
                        <span><b>original file Info</b></span>
                        <div class="filename"></div>
                        <div class="originalsize"></div>
                        <div class="filesize"></div>
                        <div class="filetype"></div>
                    </div>
                    <div class="resize">
                        <div class="nameType">
                            <input type="text" class="resize_name" name="re_name" placeholder="filename">
                            <!-- <select class="resize_type" name="re_type">
                                <option>JPEG</option>
                                <option>PNG</option>
                                <option>WebP</option>
                                <option>GIF</option>
                                <option>SVG</option>
                                <option>TIFF</option>
                            </select> -->
                        </div>
                        <div class="widthHeight">
                            <div class="resize_width">
                                <span>Width</span>
                                <input type="number" name="re_width" required>px
                            </div>
                            <div class="resize_height">
                                <span>Height</span>
                                <input type="number" name="re_height" required>px
                            </div>
                        </div>
 
                        <div class="resizePreset">
                            <button onclick="resizePresetCal('0.5')">50%</button>
                            <button onclick="resizePresetCal('0.25')">25%</button>
                            <button onclick="resizePresetCal('0.1')">10%</button>
                        </div>
                        <button class="upload" onclick="uploadFile()">upload</button>
                        <button class="re" onclick="resize()">resize</button>
                        <span class="uploadMsg"></span>
                    </div>
                </section>

                <section class="resized">
                    <div class="resizedPreviewFrame">
                        <a target="_blank" href="">
                            <img src="" maxwidth="250" maxheight="250" class="resizedImgPreview">
                        </a>
                    </div>
                    <div class="resizedfileInfo">
                        <span><b>resized file Info</b></span>
                        <div class="resizedfilename"></div>
                        <div class="resizedfilesize"></div>
                        <div class="resizedsize"></div>
                        <div class="resizedfiletype"></div>
                    </div>
                    <div class="clearFile" >
                        <button onclick="clearFileOnServer()">delete file from server</button>
                        <span class="deleteMsg"></span>
                    </div>
                </section>
            </section>

        </section>

        <script>
            var globalPath = '//localhost:3000/'

            function resize(){
                var rewidth = document.getElementsByName('re_width')[0].value
                var reheight = document.getElementsByName('re_height')[0].value
                if(document.querySelector('input[type=file]').files[0]){
                    if(rewidth=='' || reheight=='' || rewidth=='0' || reheight=='0'){
                        alert('올바른 값을 입력해 주세요')
                    }else{
                        resizeFile()
                        document.getElementsByClassName('overall')[0].style.width=600                    }
                }
            }

            
            async function uploadFile(){
                if(document.querySelector('input[type=file]').files[0]){
                    var file    = document.querySelector('input[type=file]').files[0];
                    var formData = new FormData()
                    formData.append('file', file)
                    result = await axios.post(globalPath+'upload', formData)
                    document.getElementsByClassName('uploadMsg')[0].innerText = result.data.result
                }
            }

        
            function previewFile() {
                var preview = document.querySelector('.original img');
                var file    = document.querySelector('input[type=file]').files[0];
                var filename = file.name
                var filesize = Math.ceil(file.size/1024) + 'kb'
                var filetype = file.type
                var reader  = new FileReader();
                reader.onloadend = function () {
                    preview.src = reader.result;
                    document.querySelector('.filename').innerText = filename    
                    document.querySelector('.filesize').innerText = filesize
                    document.querySelector('.filetype').innerText = filetype
                }
                if(file){
                    reader.readAsDataURL(file);
                }else{
                    preview.src = "";
                }
                setTimeout(()=>{
                    getSize()
                    $('.fileInfo').show()
                    document.getElementsByClassName('resize_name')[0].placeholder = 'resized_' + filename
                    // document.getElementsByClassName('resize_type')[0].value = filetype.split('/')[1]
                },100)
            }


            function getSize(){
                var preview = document.querySelector('.original img');
                var oWidth = preview.naturalWidth
                var oHeight = preview.naturalHeight
                var originalsize = oWidth + ' x ' + oHeight
                document.querySelector('.originalsize').innerText = originalsize
            }


            function resizePresetCal(ratio){
                var original = document.querySelector('.originalsize').innerText
                var rewidth  = Math.floor(Number(original.split(' x ')[0]) * Number(ratio));
                var reheight = Math.floor(Number(original.split(' x ')[1]) * Number(ratio));
                document.getElementsByName('re_width')[0].value = rewidth;
                document.getElementsByName('re_height')[0].value = reheight
            }


            async function resizeFile(args){
                var rewidth = document.getElementsByName('re_width')[0].value
                var reheight = document.getElementsByName('re_height')[0].value
                var rename = document.getElementsByName('re_name')[0].value || document.getElementsByName('re_name')[0].placeholder
                // var retype = document.getElementsByName('re_type')[0].value
                var file    = document.querySelector('input[type=file]').files[0];
                var formData = new FormData()
                    formData.append('file', file)
                    formData.append('rewidth', rewidth)
                    formData.append('reheight', reheight)
                    formData.append('rename', rename)
                    //wip
                    // formData.append('retype', retype)  

                var result = await axios.post(globalPath+'resize', formData)
                if(result.status == 200){
                    document.getElementsByClassName('uploadMsg')[0].innerText = 'resize complete'
                }
                var workResult = result.data.result.data
                var newPath = result.data.result.path
                var newName = result.data.result.name
                
                setTimeout(()=>{
                    $('.resizedImgPreview')[0].src = globalPath + newPath
                    $('.resizedPreviewFrame a')[0].href= globalPath + newPath
                    document.querySelector('.resizedfilename').innerText = newName
                    document.querySelector('.resizedfilesize').innerText = workResult.width + ' x ' + workResult.height
                    document.querySelector('.resizedfiletype').innerText = workResult.format
                    document.querySelector('.resizedsize').innerText = Math.ceil(workResult.size/1024) +'kb'
                    $('.resized, .resizedFileInfo, .clearFile').show()
                },100)
            }


            function displayImg(element){
                var newTab = window.open()
                var data = document.getElementsByClassName('preview')[0].getAttribute('src')
                setTimeout(() =>{
                    newTab.document.body.innerHTML = "<img src='" + data + "'>";
                }, 50);
                return false;
            }

            
            async function clearFileOnServer(){
                const path = $('.resizedImgPreview')[0].src
                const filePath = path.split('http:' + globalPath)[1]
                const result = await axios.post(globalPath+'clearFile',{filePath:filePath})
                if(result.data.result){
                    document.getElementsByClassName('deleteMsg')[0].textContent = result.data.result
                    $('.resizedImgPreview')[0].src = ''
                    document.querySelector('.resizedfilename').innerText = ''
                    document.querySelector('.resizedfilesize').innerText = ''
                    document.querySelector('.resizedfiletype').innerText = ''
                    document.querySelector('.resizedsize').innerText = ''
                    $('.clearFile').hide();
                }
            }
        </script>
    </body>
</html>